<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>CafeSync Login</title>

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

<link rel="stylesheet"
href="/css/style.css">

</head>


<body class="login-body">


<div class="container d-flex justify-content-center align-items-center vh-100">


<div class="login-card">


<div class="text-center mb-3">
<img th:src="@{/images/logo.jpeg}"
alt="CafeSync Logo"
width="120">

</div>


<p class="text-center text-muted">
Cafe Management System
</p>



<form th:action="@{/login}" method="post">


<div class="mb-3">

<label>Email</label>

<input type="email"
class="form-control"
name="email"
placeholder="Enter email"
required>

</div>



<div class="mb-3">

<label>Password</label>

<input type="password"
class="form-control"
name="password"
placeholder="Enter password"
required>

</div>
<div class="mb-3">

<label>Select Role</label>

<select class="form-select" name="role" id="role" onchange="showRolePassword()">

    <option value="">
        Select Role
    </option>

    <option value="MANAGER">
        Manager
    </option>

    <option value="OWNER">
        Owner
    </option>
    <option value="ADMIN">
        Admin
    </option>
    <option value="EMPLOYEE">
        Employee
    </option>
    

</select>

</div>


<div class="mb-3" id="rolePasswordDiv" style="display:none;">

<label id="rolePasswordLabel">
    Role Password
</label>

<input type="password"
       class="form-control"
       name="rolePassword"
       placeholder="Enter role password">

</div>



<div th:if="${error}"
class="alert alert-danger"
th:text="${error}">

Invalid email or password

</div>



<div th:if="${param.logout}"
class="alert alert-success">

Logged out successfully

</div>



<button class="btn btn-dark w-100">
Login
</button>



</form>


</div>


</div>
<script>

function showRolePassword(){

    let role = document.getElementById("role").value;

    let div = document.getElementById("rolePasswordDiv");

    let label = document.getElementById("rolePasswordLabel");


    if(role === "MANAGER"){

        div.style.display="block";

        label.innerHTML="Manager Password";

    }

    else if(role === "OWNER"){

        div.style.display="block";

        label.innerHTML="Owner Password";

    }
    else if(role === "ADMIN"){

        div.style.display="block";

        label.innerHTML="Admin Password";

    }
    
    else{

        div.style.display="none";

    }

}

</script>

</body>

</html>