<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sidebar">

<div class="sidebar">

<div class="text-center mt-3">

<img th:src="@{/images/logo.jpeg}"
     class="sidebar-logo"
     alt="CafeSync Logo">

</div>


<li th:if="${role == 'MANAGER'}">

    <a th:href="@{/manager-dashboard}">
        <i class="fa-solid fa-house"></i>
        Dashboard
    </a>

</li>


<li th:if="${role == 'OWNER'}">

    <a th:href="@{/owner-dashboard}">
        <i class="fa-solid fa-house"></i>
        Dashboard
    </a>

</li>

<a href="/products">
Products
</a>

<a href="/inventory">
Inventory
</a>

<a href="/orders">
Orders
</a>

<a href="/customers">
Customers
</a>

<a href="/expenses">
Expenses
</a>

<a href="/login">
Logout
</a>


</div>

</div>

</html>