<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Add Ingredient</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<div class="content">

<div class="card p-4 shadow">

<h2>Add Ingredient</h2>

<form th:action="@{/ingredients/save}"
      th:object="${ingredient}"
      method="post">

<div class="mb-3">

<label>Ingredient Name</label>

<input type="text"
class="form-control"
th:field="*{ingredientName}"
required>

</div>

<div class="mb-3">

<label>Unit</label>

<input type="text"
class="form-control"
th:field="*{unit}"
placeholder="Example: kg, g, ml, L, pcs"
required>

</div>

<div class="mb-3">

<label>Status</label>

<select class="form-select"
th:field="*{status}">

<option value="">Select Status</option>

<option value="ACTIVE">ACTIVE</option>
<option value="INACTIVE">INACTIVE</option>

</select>

</div>

<button class="btn btn-primary">
Save Ingredient
</button>

<a th:href="@{/ingredients}"
class="btn btn-secondary">
Cancel
</a>

</form>

</div>

</div>

</body>

</html>