<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Add Payment</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<div class="content">

<div class="card shadow p-4">

<h2>Add Payment</h2>

<form th:action="@{/payments/save}"
      th:object="${payment}"
      method="post">

<div class="mb-3">

<label>Order</label>

<select class="form-select" th:field="*{order}">

<option value="">Select Order</option>

<option th:each="order : ${orders}"
        th:value="${order.orderId}"
        th:text="${'Order #' + order.orderId}">
</option>

</select>

</div>

<div class="mb-3">
<label>Amount</label>
<input type="number"
step="0.01"
class="form-control"
th:field="*{amount}"
required>
</div>

<div class="mb-3">

<label>Payment Method</label>

<select class="form-select"
th:field="*{paymentMethod}">

<option th:each="method : ${paymentMethods}"
        th:value="${method}"
        th:text="${method}">
</option>

</select>

</div>

<div class="mb-3">

<label>Payment Status</label>

<select class="form-select"
th:field="*{paymentStatus}">

<option th:each="status : ${paymentStatuses}"
        th:value="${status}"
        th:text="${status}">
</option>

</select>

</div>

<div class="mb-3">
<label>Payment Date</label>
<input type="datetime-local"
class="form-control"
th:field="*{paymentDate}">
</div>

<button class="btn btn-primary">
Save Payment
</button>

<a th:href="@{/payments}"
class="btn btn-secondary">
Cancel
</a>

</form>

</div>

</div>

</body>
</html>